# Server needs eth, client needs USDC works on arb sepolia
CLIENT_PRIVATE_KEY = 
SERVER_PRIVATE_KEY = 

# Too lazy to make a readme rn but just do
# npm run server
# and
# npm run client
# and youll see it print out the information from the server in the client terminal
# transaction will print out on the server side