# Server needs eth, client needs USDC works on arb sepolia
# If you want to use permit2, you must have your client increase the allowance on the permit2 contract
# for the token you want to use, the permit2 address is 0x000000000022d473030f116ddee9f6b43ac78ba3
CLIENT_PRIVATE_KEY = 
SERVER_PRIVATE_KEY = 

# useful for e2e testing
FORK_URL =